body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #b30000;
    color: white;
    padding: 25px;
    text-align: center;
}

header p {
    margin-bottom: 18px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

nav a {
    color: white;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

h2 {
    color: #b30000;
}

.galeria {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #b30000;
}

footer {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 15px;
}

.redes a {
    margin: 0 10px;
    color: #b30000;
    font-weight: bold;
    text-decoration: none;
}

.redes a:hover {
    text-decoration: underline;
}
